# Multivariate Data Selection

> In this notebook, it will cover some methodology about how to select multivariate data in NHANES dataset.

- toc: true 
- badges: true
- comments: true
- author: Chanseok Kang
- categories: [Python, Coursera, Visualization]
- image:

In [1]:
import numpy as np
import pandas as pd

In [5]:
pd.set_option('display.max_columns', 100)

## How to select dataframe subsets from multivariate data

In [6]:
df = pd.read_csv('./dataset/nhanes_2015_2016.csv')

In [7]:
df.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,1.0,2,134671.37,1,125,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,1.0,2,12400.01,1,131,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,6.0,1,102718.00,1,131,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,3.0,5,17627.67,2,126,1.23,100.0,70.0,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

### Keep only body measures columns, so only columns with "BMX" in the name

In [8]:
df.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [9]:
keep = ['BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC','BMXWAIST']

In [10]:
df[keep]

      BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0      94.8  184.5    27.8    43.3     43.6     35.9     101.1
1      90.4  171.4    30.8    38.0     40.0     33.2     107.9
2      83.4  170.1    28.8    35.6     37.0     31.0     116.5
3     109.8  160.9    42.4    38.5     37.7     38.3     110.1
4      55.2  164.9    20.3    37.4     36.0     27.2      80.4
...     ...    ...     ...     ...      ...      ...       ...
5730   59.1  165.8    21.5    38.2     37.0     29.5      95.0
5731  112.1  182.2    33.8    43.4     41.8     42.3     110.2
5732   71.7  152.2    31.0    31.3     37.5     28.8       NaN
5733   78.2  173.3    26.0    40.3     37.5     30.6      98.9
5734   58.3  165.0    21.4    38.2     33.5     26.2      72.5

[5735 rows x 7 columns]

More pythonic way.

In [11]:
[column for column in df.columns if 'BM' in column]

['BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST']

In [12]:
df[[column for column in df.columns if 'BM' in column]]

      BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0      94.8  184.5    27.8    43.3     43.6     35.9     101.1
1      90.4  171.4    30.8    38.0     40.0     33.2     107.9
2      83.4  170.1    28.8    35.6     37.0     31.0     116.5
3     109.8  160.9    42.4    38.5     37.7     38.3     110.1
4      55.2  164.9    20.3    37.4     36.0     27.2      80.4
...     ...    ...     ...     ...      ...      ...       ...
5730   59.1  165.8    21.5    38.2     37.0     29.5      95.0
5731  112.1  182.2    33.8    43.4     41.8     42.3     110.2
5732   71.7  152.2    31.0    31.3     37.5     28.8       NaN
5733   78.2  173.3    26.0    40.3     37.5     30.6      98.9
5734   58.3  165.0    21.4    38.2     33.5     26.2      72.5

[5735 rows x 7 columns]

There are two methods for selecting by row and column. 
### link for pandas cheat sheets
* df.loc[row labels or bool, col labels or bool]
* df.iloc[row int or bool, col int or bool]

(ref. [pandas docs](https://pandas.pydata.org/pandas-docs/stable/indexing.html))
* [ ] column indexing
* .loc is primarily label based, but may also be used with a boolean array.   
* .iloc is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array.

In [13]:
df.loc[:, keep]

      BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0      94.8  184.5    27.8    43.3     43.6     35.9     101.1
1      90.4  171.4    30.8    38.0     40.0     33.2     107.9
2      83.4  170.1    28.8    35.6     37.0     31.0     116.5
3     109.8  160.9    42.4    38.5     37.7     38.3     110.1
4      55.2  164.9    20.3    37.4     36.0     27.2      80.4
...     ...    ...     ...     ...      ...      ...       ...
5730   59.1  165.8    21.5    38.2     37.0     29.5      95.0
5731  112.1  182.2    33.8    43.4     41.8     42.3     110.2
5732   71.7  152.2    31.0    31.3     37.5     28.8       NaN
5733   78.2  173.3    26.0    40.3     37.5     30.6      98.9
5734   58.3  165.0    21.4    38.2     33.5     26.2      72.5

[5735 rows x 7 columns]

way to find out index

In [14]:
index_bool = np.isin(df.columns, keep)
index_bool

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False])

In [15]:
df.iloc[:, index_bool]

      BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0      94.8  184.5    27.8    43.3     43.6     35.9     101.1
1      90.4  171.4    30.8    38.0     40.0     33.2     107.9
2      83.4  170.1    28.8    35.6     37.0     31.0     116.5
3     109.8  160.9    42.4    38.5     37.7     38.3     110.1
4      55.2  164.9    20.3    37.4     36.0     27.2      80.4
...     ...    ...     ...     ...      ...      ...       ...
5730   59.1  165.8    21.5    38.2     37.0     29.5      95.0
5731  112.1  182.2    33.8    43.4     41.8     42.3     110.2
5732   71.7  152.2    31.0    31.3     37.5     28.8       NaN
5733   78.2  173.3    26.0    40.3     37.5     30.6      98.9
5734   58.3  165.0    21.4    38.2     33.5     26.2      72.5

[5735 rows x 7 columns]

### Selection by conditions

In [16]:
# Waist larger than the median
waist_median = pd.Series.median(df['BMXWAIST'])
waist_median

98.3

In [18]:
condition1 = df['BMXWAIST'] > waist_median
df[condition1].head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,1.0,2,134671.37,1,125,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,1.0,2,12400.01,1,131,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,6.0,1,102718.00,1,131,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
9,83744,1.0,NaN,NaN,2,1,56,4,1.0,3.0,3.0,1,20395.54,2,126,1.19,178.0,116.0,180.0,114.0,108.3,179.4,33.6,46.0,44.1,38.5,116.0,2.0

In [19]:
condition2 = df['BMXLEG'] < 32
df[condition1 & condition2].head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
15,83757,1.0,NaN,1.0,2,2,57,2,1.0,1.0,4.0,5,11709.11,1,120,0.77,134.0,68.0,146.0,62.0,80.5,150.8,35.4,31.6,32.7,33.7,113.5,2.0
27,83785,2.0,1.0,1.0,1,2,60,2,1.0,5.0,3.0,4,10495.87,1,128,5.00,142.0,74.0,136.0,74.0,75.6,145.2,35.9,31.0,33.1,36.0,108.0,2.0
39,83812,1.0,NaN,2.0,2,2,68,1,1.0,3.0,1.0,3,10255.97,1,124,5.00,124.0,56.0,114.0,66.0,63.7,147.9,29.1,26.0,34.0,31.5,110.0,2.0
52,83832,2.0,1.0,4.0,2,2,50,1,2.0,1.0,4.0,5,11709.11,1,121,1.41,104.0,76.0,NaN,NaN,105.9,157.7,42.6,29.2,35.0,40.7,129.1,NaN
55,83837,2.0,2.0,NaN,2,2,45,1,1.0,2.0,1.0,7,15415.16,1,133,2.18,112.0,68.0,114.0,68.0,77.5,148.3,35.2,30.5,34.0,34.4,107.6,2.0

In [20]:
df.loc[condition1 & condition2, :].head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
15,83757,1.0,NaN,1.0,2,2,57,2,1.0,1.0,4.0,5,11709.11,1,120,0.77,134.0,68.0,146.0,62.0,80.5,150.8,35.4,31.6,32.7,33.7,113.5,2.0
27,83785,2.0,1.0,1.0,1,2,60,2,1.0,5.0,3.0,4,10495.87,1,128,5.00,142.0,74.0,136.0,74.0,75.6,145.2,35.9,31.0,33.1,36.0,108.0,2.0
39,83812,1.0,NaN,2.0,2,2,68,1,1.0,3.0,1.0,3,10255.97,1,124,5.00,124.0,56.0,114.0,66.0,63.7,147.9,29.1,26.0,34.0,31.5,110.0,2.0
52,83832,2.0,1.0,4.0,2,2,50,1,2.0,1.0,4.0,5,11709.11,1,121,1.41,104.0,76.0,NaN,NaN,105.9,157.7,42.6,29.2,35.0,40.7,129.1,NaN
55,83837,2.0,2.0,NaN,2,2,45,1,1.0,2.0,1.0,7,15415.16,1,133,2.18,112.0,68.0,114.0,68.0,77.5,148.3,35.2,30.5,34.0,34.4,107.6,2.0

In [21]:
df_small = df.head(5)
df_small

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,1.0,2,134671.37,1,125,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,1.0,2,12400.01,1,131,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,6.0,1,102718.00,1,131,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,3.0,5,17627.67,2,126,1.23,100.0,70.0,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [22]:
df_small.index = ['a', 'b', 'c', 'd', 'e']
df_small

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
a,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,1.0,2,134671.37,1,125,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
b,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
c,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,1.0,2,12400.01,1,131,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
d,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,6.0,1,102718.00,1,131,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
e,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,3.0,5,17627.67,2,126,1.23,100.0,70.0,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [23]:
df_small.loc['a', :]

SEQN         83732.00
ALQ101           1.00
ALQ110            NaN
ALQ130           1.00
SMQ020           1.00
RIAGENDR         1.00
RIDAGEYR        62.00
RIDRETH1         3.00
DMDCITZN         1.00
DMDEDUC2         5.00
DMDMARTL         1.00
DMDHHSIZ         2.00
WTINT2YR    134671.37
SDMVPSU          1.00
SDMVSTRA       125.00
INDFMPIR         4.39
BPXSY1         128.00
BPXDI1          70.00
BPXSY2         124.00
BPXDI2          64.00
BMXWT           94.80
BMXHT          184.50
BMXBMI          27.80
BMXLEG          43.30
BMXARML         43.60
BMXARMC         35.90
BMXWAIST       101.10
HIQ210           2.00
Name: a, dtype: float64

In [24]:
df_small.loc[['a', 'b'], :]

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
a,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,1.0,2,134671.37,1,125,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
b,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN

In [25]:
df_small.iloc[[1, 2], :]

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
b,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
c,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,1.0,2,12400.01,1,131,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0

In [26]:
df_small.loc[:, 'BMXBMI']

a    27.8
b    30.8
c    28.8
d    42.4
e    20.3
Name: BMXBMI, dtype: float64

In [27]:
df_small.loc[:, 'BMXBMI'].values

array([27.8, 30.8, 28.8, 42.4, 20.3])

In [28]:
df_small.iloc[:, 22]

a    27.8
b    30.8
c    28.8
d    42.4
e    20.3
Name: BMXBMI, dtype: float64

In [29]:
df_small.loc[0:5, 'BMXBMI'] = range(5)
df_small.BMXBMI

/home/chanseok/anaconda3/envs/torch/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  """Entry point for launching an IPython kernel.
/home/chanseok/anaconda3/envs/torch/lib/python3.7/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

a    0
b    1
c    2
d    3
e    4
Name: BMXBMI, dtype: int64

In [31]:
df.loc[:, 'BMXBMI'] = range(df.shape[0])
df['BMXBMI'].head()

0    0
1    1
2    2
3    3
4    4
Name: BMXBMI, dtype: int64